*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    height: 100vh;
}

.contenedor-header{
    background-color: #7e539f;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.contenedor-header header{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 30px ;
    
}

.contenedor-header header .logo{
    width: 100px;
    position: absolute;
    left: 150px;  
    
}

.contenedor-header header .logo img{
    border-radius: 100%;
    max-width: 85%;
    object-fit: cover;
    padding: 10px;
    

}

.contenedor-header header ul{
    display: flex;
    list-style: none;  
}

.contenedor-header header nav ul li{
    text-align: none;
    margin: 0 10px;
    padding: 5px;
    transition: .6s;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.contenedor-header header nav ul li:hover{
    color: #31b8cd;
}


.contenedor img{ 
    width: 100%;
   
}

/*.contenedor::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,#31b8cd,#fefeff);
    opacity: 0.5;

}
*/

.contenedor{  
    display: flex; 
    width: 100%;
    height: 100%;
    background-color: rgb(41, 115, 115);
    justify-content: space-between;

    
}

@media (max-width:900px) {
    .contenedor{
        width: 900px;  
        }
    
}
.contenedor .info{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 350px;
    top: 300px;
    text-decoration: none;
    border-radius: 10px;   

}

.contenedor .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 100px;
  
}

.info h2{
    position: absolute;
    font-size: 60px;
    color: #31b8cd; 
}




.contenedor .info ul li{
    position: absolute;
    list-style: none; 
    animation: mover 7s infinite; 
}

@keyframes mover{

    
}

.descripcion{
    display: flex;
    width:  100%;
    height: 250px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
 
}

.descripcion img{
    position: absolute;
    left: 300px;
    width: 100px;
    height: 100px;
      
}

.descripcion .yo{
    align-items: center;
    justify-content: center;
}


.descripcion .yo h3{ 
    position: absolute;
    width: 400px;
    height: 100px;
    color: #400f65a9; 
    margin-left: 450px; 
    bottom: -200px;
}

.imagenes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
  
}

.imagenes .clientes{
    width: 300px;
    margin: 50px;  
}

.imagenes .clientes img{
    width: 100%;
    cursor: pointer;
    border: 1px solid #400f65a9;
    border-radius: 20px;

}

.imagenes .clientes span{
    position: absolute;
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

@media (max-width: 890px) {
    .imagenes{
    width: 900px; 
}

}

.contacto{
    padding: 50px 0;
}

.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
    
}

.contacto .col .informacion ul {
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    left: 50%;
    list-style: none;
}

.contacto .col .informacion ul li{
    margin-bottom: 20px;
    color: black;
    font-size: 15px;
}

.contacto .col .informacion ul li i{
    color: #31b8cd;
    display: inline-block;
}


.contacto h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;  
    color: #7e539f;
}

.contacto .fila{
    display: flex;
    max-width: 100%;
    margin-left: 20px;  
}

.contacto .col{
    width: 60%;
    padding: 20px;
    position: relative;   
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    margin-bottom: 10px;
    background-color: #31b8cd;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
}

.contacto .col img{
    width: 100%;
}

.redes{
    display: flex;
    height: 100px;
    background-color: #7e539f;
    align-items: center;
    justify-content: center;  
}

.redes ul li{
    display: inline-block;
    margin: 0 12px;
    color:#31b8cd;
    font-size: 40px;
    list-style: none;
}

.redes ul li i:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.3s; 
}

.horario{
    display: flex;
    background-color:#7e539f;
    padding: 20px;
    justify-content: center;
    align-items: center; 
   
   
}

.horario .datos{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 0 12px;
    font-size: 40px;
    color:#31b8cd;
    justify-content: center;
    background-color: aqua;
   
    
}

.horario .datos i{
    position: absolute;
}

.horario .datos i:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.3s; 
}

.datos p{
    font-size: 20px;
    color:#fff;
    margin: 75px 30px;
}



















