*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    
    height: 100vh;
}

.contenedor-header{
    background-color: #7e539f;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.contenedor-header header{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 30px ;
    
}

.contenedor-header header .logo{
    display: block;
    width: 100px;
    position: absolute;
    left: 150px;  
    
}

.contenedor-header header .logo img{
    border-radius: 100%;
    max-width: 85%;
    object-fit: cover;
    padding: 10px;
    

}

.contenedor-header header ul{
    display: flex;
    list-style: none;  
}

.contenedor-header header nav ul li{
    text-align: none;
    margin: 0 10px;
    padding: 5px;
    transition: .6s;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.contenedor-header header nav ul li:hover{
    color: #31b8cd;
}


.contenedor img{ 
    width: 100%;
   
}

.contenedor::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,#31b8cd,#fefeff);
    opacity: 0.5;

}


.contenedor{  
    display: flex; 
    width: 100%;
    height: 100%;
    background-color: rgb(41, 115, 115);
    justify-content: space-between;

    
}

@media (max-width:900px) {
    .contenedor{
        width: 900px;  
        }
    
}
.contenedor .info{
    display: block;
    position: absolute;
    width: 400px;
    height: 250px;
    left: 350px;
    top: 300px;
    text-decoration: none;
    border-radius: 10px;   

}

.contenedor .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 100px;
  
}

.info h2{
    position: absolute;
    font-size: 60px;
    color: #31b8cd; 
}

.contenedor .beneficios{
    background-color: firebrick;
    position: absolute;
    width: 200px;
    margin: 100px;
    
    
 
}


.contenedor .info ul li{
    position: absolute;
    list-style: none; 
    animation: mover 7s infinite; 
}

@keyframes mover{

    
}

.descripcion{
    display: flex;
    width:  100%;
    height: 250px;
    background-color: white;
    align-items: center;
    justify-content: space-between;    
}

.descripcion img{
    position: relative;
    left: 300px;
    width: 100px;
    height: 100px;
      
}

.descripcion h3{ 
    position: relative;
    right: 400px;
    width: 350px;
    height: 100px;
    color: #400f65a9;
    font-size: 15px;   

}

.imagenes{
    display: flex;
    width: 100%;
    background-color: aqua; 
    justify-content: space-between;
    align-items: center; 
    gap: 30px;
    cursor: pointer;
}

.imagenes .clientes{
    width: 25%;
    background-color: aqua;     
}

.imagenes .clientes img{
    width: 100%;
    gap: 40px;
}

.imagenes .clientes span{
    position: absolute;
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

@media (max-width: 890px) {
    .imagenes{
    width: 900px; 
}

}






